@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #660099;
}

.region {
    margin: 50px auto;
    padding: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    width: 50%;
}

h4, h6 {
    margin-bottom: 10px;
}

button {
    background-color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 1.3em;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #660099;
    color: white;
    cursor: pointer;
}

.iframe {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

iframe {
    background-color: white;
    display: none;
    width: 60vw;
    height: 63vh;
    border-radius: 50px;
}

#toggleFullScreen {
    display: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    transition: font-size 0.3s ease;
}

#toggleFullScreen:hover {
    font-size: 2.2em;
}

.fullscreen {
    width: 90vw;
    height: 90vh;
}

.ont {
    display: none;
}
